@import "global";
.career-section {
  .hr {
    width: 80px;
    height: 3px;
    background: $red-color;
    margin: 30px auto;
  }
}
.apply-btn {
  background: $grey-color;
  color: $white-color;
  transition: all 0.3s ease-in-out;
  padding: 7px 19px;
  border-radius: 0px;
  &:hover {
    background: $red-color;
    color: $white-color;
  }
}
